@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400,700');

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin: 0 auto;
}

::-moz-selection { /* Firefox */
    color: inherit;
    background: rgba(139, 0, 0, 0.26);
    opacity: .5;
}

::selection {
    color: inherit; 
    background: rgba(139, 0, 0, 0.26);
    opacity: .5;
}

nav {
	width: 95%;
	margin: 0 auto;
}

small {
	color: #aaa;
}

h1, h2 {
	margin: 10px 0;
	padding: 0;
}

img {
	min-width: 100%;
}

a,
a:hover {
	color: black;
	text-decoration: none;
}

ul {
	-webkit-padding-start: 0;
	list-style-type: none;
}

.body-content {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.page-heading {
	font-size: 2.75em;
	margin-top: 30px;
	text-transform: uppercase;
	padding: 30px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
	border-top: 5px solid darkred;
}

.page-subheading {
	font-size: 1.25em;
	margin: 10px 0px 30px 0px;
	color: darkgray;
}

.welcome {
	font-size: 2.45em;
	text-transform: none;
	margin-bottom: 30px;
}


/* STORIES */

.post-content {
	display: flex;
}

.posts {
	width: 70%;
	height: 400px;
}

.post {
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
}

.post:hover {
	border: 1px solid #ccc;
	/*transition-duration: .25s;*/
	cursor: pointer;
}

.post-info {
	font-family: 'Open Sans';
}

.post-date,
.post-author,
.click-to-expand-group {
	color: darkred;
	text-transform: uppercase;
	font-size: .9em;
	font-family: "Monaco", "Helvetica";
	font-weight: bold;
}

.post-date:hover,
.post-author:hover {
	color: darkred;
	text-decoration: underline;
}

.click-to-expand-group {
	margin-top: 15px;
	transition-duration: .25s;
	text-align: center;
}

.excerpt {
	font-size: 1.25em;
	margin: 10px 0px;
}

.post-body {
	font-family: 'Gentium Book Basic';
	font-size: 1.15em;
	line-height: 2;
	padding: 10px;
	cursor: text;
}

.post-body > img,
.caption {
	display: inline;
	line-height: 1;
	font-size: .8em;
	color: #aaa;
}

.red-divider {
	background-color: darkred;
	height: 5px;
	width: 30%;
	margin: 10px auto 20px auto;
}

.red-divider-left {
	background-color: darkred;
	height: 5px;
	width: 100%;
	margin-bottom: 20px;
}

.sidebar {
	width: 28%;
	margin-left: 2%;
	margin-top: 10px;
	max-height: 620px;
	border: 2px solid #eee;
	border-radius: 5px;
	padding: 20px;
}

.sidebar > span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.25em;
}

.sidebar > ul {
	padding-bottom: 10px;
	border-bottom: 3px solid darkred;
}

.sidebar > ul > a {
	color: black;
}

.sidebar > ul > a:hover {
	text-decoration: underline;
}

.sidebar > ul > a > li {
	margin-bottom: 10px;
	padding-left: 10px;
}

.asf-style {
	text-transform: uppercase;
	font-weight: 700;
	color: darkred;
}

.asf-content {
	display: flex;
	/*justify-content: center;*/
}

.asfs {
	width: 70%;
}

.asf {
	border: 2px solid darkred;
	padding: 20px;
	margin-bottom: 20px;
	font-family: 'Gentium Book Basic';
}

.asf > img {
	max-width: 100%;
}

.asf > h1,
.asf > h2,
.asf > h3 {
	font-family: "Open Sans";
}

.talking-points {
	list-style-type: disc;
	-webkit-padding-start: 40px;
}

.talking-points > li {
	margin: 5px 0px;
	line-height: 1.25;
}

.radio-story-sc {
	padding-bottom: 30px;
}

/*.transcript {
	width: 80%;
	padding: 20px;
	border: 1px solid darkred;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	font-family: "Gentium Book Basic"
	font-weight: 700;
}*/

.transcript:hover {
	background-color: #f6f6f6
}

/* Footer */

footer {
	background-color: #f6f6f6;
	font-family: "Open Sans";
	padding: 30px;
	font-size: .8em;
	/*margin-top: 50px;*/
	text-align: center;
	color: darkred;
}

/* JS Styles *MUST COME LAST* */

.hide {
	display: none;
}

.expanded {
	cursor: text;
}








